VOYAGE_API_KEY=
ANTHROPIC_API_KEY=
ATLAS_CONNECTION_STRING=
PORT=8000
DEBUG=false

# Elasticsearch (for custom_logger)
ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_INDEX=cv-rag-logs
ENVIRONMENT=development
