# VOYAGE_API_KEY=
# ANTHROPIC_API_KEY=
# ATLAS_CONNECTION_STRING=
# PORT=8000
# DEBUG=false

# Elasticsearch (for custom_logger)
ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_INDEX=cv-rag-logs-{month}
ENVIRONMENT=development


ANTHROPIC_API_KEY=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
ATLAS_CONNECTION_STRING="mongodb+srv://bob-two-steps:Aa232323@two-steps-ai-demo.3vyvwbd.mongodb.net/?appName=two-steps-ai-demo"
DEBUG=false
PORT=8000
VOYAGE_API_KEY=pa-ioqFtjXE_v2esh0bZUl5tLjD71lGZJt31dBd7Cv1sMU
